<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="main">
    <head>
        <title th:text="#{accounts.voucher.type.title}">Accounts Voucher Type</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/account-info/voucher-type.css}"/>


    </head>
    <body>



        <div class="right_col" role="main" layout:fragment="content">
            <div th:if="${msg.getDisplay()}" class="alert alert-danger fade in" >
                <!--<strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.-->
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong th:text="${msg.message}"></strong>
            </div>

            <div class="panel">
                <div class="panel-heading one" th:if="${mode=='create'}" th:text="#{accounts.voucher.create.header.label}">Accounts Voucher Type Creation</div>
                <div class="panel-heading one" th:if="${mode=='edit'}" th:text="#{accounts.voucher.edit.header.label}">Accounts Voucher Type Update</div>

                <div class="panel-body border-color">
                    <form th:action="@{/voucherType/}+${mode}" th:object="${AcVoucherType}" method="POST">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{accounts.voucher.name.label}">Voucher Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right" th:field="*{name}" placeholder="Voucher Name" th:autofocus="autofocus" th:required="required"/>
                                <label class="control-label error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Full Name Error</label>
                            </div>
                        </div>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{accounts.voucher.under.dr.label}">Under The Group Dr</label>
                            <div class="col-sm-9">
                                <select class="selectpicker form-control" th:multiple="multiple" th:field="*{DebitGroupCodes}" data-live-search="true" data-actions-box="true">
                                    <!--<option value="1">Primary</option>-->
                                    <option type="checkbox" th:each="group:${GroupList}" th:value="${group.getId()}" th:text="${group.getName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{accounts.voucher.under.cr.label}">Under The Group Cr</label>
                            <div class="col-sm-9">
                                <select class="selectpicker form-control" th:multiple="multiple" th:field="*{creditGroupCodes}" data-live-search="true" data-actions-box="true">
                                    <!--<option value="1">Primary</option>-->
                                    <option th:each="group:${GroupList}" th:value="${group.getId()}" th:text="${group.getName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{accounts.voucher.additional.vouchers.label}">Additional Vouchers</label>
                            <div class="col-sm-9">
                                <select class="selectpicker form-control" th:multiple="multiple" th:field="*{additionalGroupCodes}"  data-live-search="true" data-actions-box="true">
                                    <!--<option value="1">Primary</option>-->
                                    <option th:each="group:${GroupList}" th:value="${group.getId()}" th:text="${group.getName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{accounts.voucher.each.narration.label}">Narration For Each Ledger</label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="narration" value="on" th:field="*{narration}" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="info"/>
                            </div>
                        </div>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{accounts.voucher.after.saving.printing}">Printing After Save</label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="printing" value="on" th:field="*{printing}" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="info"/>
                            </div>
                        </div>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{accounts.voucher.is.active}">Is Active</label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="active" value="on" th:field="*{active}" data-toggle="toggle" data-on="Active" data-off="Inactive" data-onstyle="success" data-offstyle="danger"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 right">
                                <button th:if="${mode=='create'}" type="submit" class="btn btn-primary" th:text="#{default.button.create.label}">Save</button>
                                <button th:if="${mode=='edit'}" type="submit" class="btn btn-primary" th:text="#{default.button.update.label}">Update</button>
                                <a class="btn btn-primary" th:href="@{/voucherType}" th:text="#{default.button.cancel.label}">List</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
