<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="main">
    <head>
        <title th:text="#{inventory.stock.item.title}">Inventory Item</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/inventory-info/stock-item-creation.css}"/>
    </head>
    <body>
        <div class="right_col" role="main" layout:fragment="content">
            <div th:if="${msg.getDisplay()}" class="alert alert-danger fade in" >
                <!--<strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.-->
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong th:text="${msg.message}"></strong>
            </div>
            <div class="panel">
                <div class="panel-heading one" th:if="${mode=='create'}" th:text="#{inventory.stock.item.creation.page.header}">Item Creation</div>
                <div class="panel-heading one" th:if="${mode=='edit'}" th:text="#{inventory.stock.item.alteration.page.header}">Item Alteration</div>

                <div class="panel-body border-color">
                    <form th:action="@{/item/}+${mode}" th:object="${item}" method="POST">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{inventory.stock.item.code.label}">Item Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right" th:field="*{code}" placeholder="Item Code" th:autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{inventory.stock.item.name.label}">Item Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right" th:field="*{name}" placeholder="Item Name"/>
                            </div>
                        </div>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{inventory.stock.item.under.label}">Under</label>
                            <div class="col-sm-9">
                                <select class="selectpicker form-control" th:field="*{group}" data-live-search="true">
                                    <option th:each="parent:${groups}" th:value="${parent.getId()}" th:text="${parent.getName()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group label-vertical-align">
                            <label class="col-sm-3 col-form-label pull-left" th:text="#{inventory.stock.item.unit.label}">Unit</label>
                            <div class="col-sm-9">
                                <select class="selectpicker form-control" th:field="*{unit}" data-live-search="true">
                                    <option th:each="unit:${units}" th:value="${unit.getId()}" th:text="${unit.getUnitSymbol()}"></option>
                                </select>
                            </div>
                        </div>
                        <table class="tableSection">
                            <thead>
                                <tr>
                                    <th class="th-godwon">
                                        <div class="godwon" th:text="#{inventory.stock.item.creation.page.th.godown}">Godwon</div>
                                    </th>
                                    <th class="th-qty">
                                        <div class="qty" th:text="#{inventory.stock.item.creation.page.th.quantity}">Quantity</div>
                                    </th>
                                    <th class="th-rate">
                                        <div class="rate" th:text="#{inventory.stock.item.creation.page.th.rate}">Rate</div>
                                    </th>
                                    <th class="th-amount">
                                        <div class="amount" th:text="#{inventory.stock.item.creation.page.th.amount}">Amount</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-godwon">
                                        <div class="godwon">
                                            <select class="selectpicker form-control-custome table-select-1" th:field="*{itemDetails[0].godown}" data-live-search="true">
                                                <option th:each="godown:${godowns}" th:value="${godown.getId()}" th:text="${godown.getName()}"></option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="td-qty">
                                        <div class="qty">
                                            <input type="number" class="form-control form-control-custome" th:field="*{itemDetails[0].quantity}" onkeyup="quantity(this);"/>
                                        </div>
                                    </td>
                                    <td class="td-rate">
                                        <div class="rate">
                                            <input type="text" class="form-control form-control-custome" th:field="*{itemDetails[0].rate}" onkeyup="rate(this);"/>
                                        </div>
                                    </td>
                                    <td class="td-amount">
                                        <div class="amount">
                                            <input type="text" class="form-control form-control-custome readonly-bg" th:field="*{itemDetails[0].amount}" readonly="true"/>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--<tfoot>-->
                                <!--<tr>-->
                                    <!--<td id="total-godown" class="td-godwon">0</td>-->
                                    <!--<td id="total-quantity" class="td-qty">0</td>-->
                                    <!--<td id="total-rate" class="td-rate">0.00</td>-->
                                    <!--<td id="total-amount" class="td-amount">0.00</td>-->
                                <!--</tr>-->
                            <!--</tfoot>-->
                        </table>

                        <div class="row">
                            <div class="col-md-12 right">
                                <button th:if="${mode=='create'}" type="submit" class="btn btn-primary" th:text="#{default.button.create.label}">Save</button>
                                <button th:if="${mode=='edit'}" type="submit" class="btn btn-primary" th:text="#{default.button.update.label}">Update</button>
                                <a class="btn btn-primary" th:href="@{/item}" th:text="#{default.button.cancel.label}">List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <script th:src="@{/js/bootstrap-select.js}"></script>
            <script th:src="@{/js/inventory-item.js}"></script>
        </div>
    </body>
</html>
